extends layouts/default

block title
    title Index page

block content
    main.home-page

        section.intro
            .swiper-container#home-slider.intro__slider.slider

                .slider__over
                    p.slider__collection Новая коллекция
                    h1.slider__title Женской одежды
                    .slider__btn
                        a(href="#").btn.btn-fill.btn-while в Каталог

                .swiper-wrapper

                    .swiper-slide
                        img(src=image('slider/header-bg.png'))
                    .swiper-slide
                        img(src=image('slider/header-bg.png'))
                    .swiper-slide
                        img(src=image('slider/header-bg.png'))

                .swiper-pagination.intro__slider-pagination
                .swiper-button-prev.btn.btn_radius.btn_radius_while.btn_radius_left
                    svg
                        use( xlink:href=sprite('arrow-slider') )
                .swiper-button-next.btn.btn_radius.btn_radius_while.btn_radius_right
                    svg
                        use( xlink:href=sprite('arrow-slider') )

        section.home-page__catalog.catalog
            .container
                .catalog__head
                    h2.catalog__title Женщинам:
                    .catalog__tabs
                        .catalog__tab.catalog__tab_active Верхняя одежда
                        .catalog__tab Блузки
                        .catalog__tab Платья

                .catalog__products.catalog__products_left
                    .catalog__intro-image
                        img( src=image('products-intro/woman-bg.png') )

                    .catalog__items
                        each product in productsHomeWoman
                            include components/product

                .catalog__btn
                    .btn.btn-outline.btn-arrow
                        | Женщинам
                        svg.btn-arrow-arrow
                            use( xlink:href=sprite('long-arrow') )

        section.home-page__catalog.catalog
            .container
                .catalog__head
                    h2.catalog__title Мужчинам:
                    .catalog__tabs
                        .catalog__tab.catalog__tab_active Верхняя одежда
                        .catalog__tab Костюмы
                        .catalog__tab Брюки

                .catalog__products.catalog__products_right

                    .catalog__items
                        each product in productsHomeMan
                            include components/product

                    .catalog__intro-image
                        img( src=image('products-intro/man-bg.png') )

                .catalog__btn
                    .btn.btn-outline.btn-arrow
                        | Мужчинам
                        svg.btn-arrow-arrow
                            use( xlink:href=sprite('long-arrow') )

        section.home-page__brands.brands
            .container.brands__container
                .brands__head
                    h3.brands__title Бренды
                    .brands__buttons
                        .brands__btn
                            .brands__prev.btn.btn_radius.btn_radius_black
                                svg
                                    use( xlink:href=sprite('arrow-slider') )

                        .brands__btn
                            .brands__next.btn.btn_radius.btn_radius_black.btn_radius_right
                                svg
                                    use( xlink:href=sprite('arrow-slider') )

                .brands__slider.swiper-container#brands__slider
                    .swiper-wrapper.brands__slider-wrapper
                        .swiper-slide
                            img( src=image('brands/brand-logo-1.png') )
                        .swiper-slide
                            img( src=image('brands/brand-logo-2.png') )
                        .swiper-slide
                            img( src=image('brands/brand-logo-3.png') )
                        .swiper-slide
                            img( src=image('brands/brand-logo-4.png') )
                        .swiper-slide
                            img( src=image('brands/brand-logo-5.png') )
                        .swiper-slide
                            img( src=image('brands/brand-logo-6.png') )
                        .swiper-slide
                            img( src=image('brands/brand-logo-4.png') )
                        .swiper-slide
                            img( src=image('brands/brand-logo-5.png') )
                        .swiper-slide
                            img( src=image('brands/brand-logo-6.png') )

                    .swiper-pagination.brands__slider-pagination
