extends layouts/default
include components/header


block title
    title Beinua | Home page

block header
    +header()

block content
    main.home-page
        -var productPanelClass = 'product__panel_big'

        section.intro
            .swiper-container#home-slider.intro__slider.slider

                .slider__over
                    p.slider__collection Новая коллекция
                    h1.slider__title Женской одежды
                    .slider__btn
                        a(href=route("catalog.html")).btn.btn-fill.btn-while в Каталог

                .swiper-wrapper

                    .swiper-slide
                        picture
                            source(srcset=image('slider/header-bg.webp') type="image/webp")
                            img(src=image('slider/header-bg.png') alt="Image 1" width="1075px" height="500px")
                    .swiper-slide
                        picture
                            source(srcset=image('slider/header-bg-1.webp') type="image/webp")
                            img(src=image('slider/header-bg-1.png') alt="Image 2" width="1075px" height="500px")
                    .swiper-slide
                        picture
                            source(srcset=image('slider/header-bg.webp') type="image/webp")
                            img(src=image('slider/header-bg.png') alt="Image 3" width="1075px" height="500px")

                .swiper-pagination.intro__slider-pagination
                .swiper-button-prev.btn.btn_radius.btn_radius_while.btn_radius_left
                    svg
                        use( xlink:href=sprite('arrow-slider') )
                .swiper-button-next.btn.btn_radius.btn_radius_while.btn_radius_right
                    svg
                        use( xlink:href=sprite('arrow-slider') )

        section.home-page__catalog.catalog
            .container.container_lg-none
                .catalog__head
                    h2.catalog__title Женщинам:
                    .catalog__tabs
                        .catalog__tab.catalog__tab_active Верхняя одежда
                        .catalog__tab Блузки
                        .catalog__tab Платья

                .catalog__products.catalog__products_left
                    .catalog__intro-image
                        picture
                            source(srcset=image('products-intro/woman-bg.webp') type="image/webp")
                            img( src=image('products-intro/woman-bg.png') alt="Big image" width="500px" height="100px" )

                    .catalog__items
                        each product in productsHomeWoman
                            include components/product

                .catalog__btn
                    a(href="/catalog.html").btn.btn-outline.btn-arrow
                        | Женщинам
                        svg.btn-arrow-arrow
                            use( xlink:href=sprite('long-arrow') )

        section.home-page__catalog.catalog
            .container.container_lg-none
                .catalog__head
                    h2.catalog__title Мужчинам:
                    .catalog__tabs
                        .catalog__tab.catalog__tab_active Верхняя одежда
                        .catalog__tab Костюмы
                        .catalog__tab Брюки

                .catalog__products.catalog__products_right

                    .catalog__items
                        each product in productsHomeMan
                            include components/product

                    .catalog__intro-image
                        picture
                            source(srcset=image('products-intro/man-bg.webp') type="image/webp")
                            img( src=image('products-intro/man-bg.png') alt="Big image" width="500px" height="100px" )

                .catalog__btn
                    a(href="/catalog.html").btn.btn-outline.btn-arrow
                        | Мужчинам
                        svg.btn-arrow-arrow
                            use( xlink:href=sprite('long-arrow') )

        section.home-page__brands.brands.slider-default
            .container.brands__container
                .brands__head.slider-default__head
                    h3.brands__title.slider-default__title Бренды
                    .slider-default__btns
                        .slider-default__btn
                            .brands__prev.slider-default__prev.btn.btn_radius.btn_radius_black
                                svg
                                    use( xlink:href=sprite('arrow-slider') )

                        .slider-default__btn
                            .brands__next.slider-default__next.btn.btn_radius.btn_radius_black.btn_radius_right
                                svg
                                    use( xlink:href=sprite('arrow-slider') )

                .slider-default__slider.brands__slider.swiper-container#brands__slider
                    .swiper-wrapper.slider-default__slider-wrapper
                        .swiper-slide
                            picture
                                source(srcset=image('brands/brand-logo-1.webp') type="image/webp")
                                img( src=image('brands/brand-logo-1.png') alt="Brand 1" width="172px" height="16px" )
                        .swiper-slide
                            picture
                                source(srcset=image('brands/brand-logo-2.webp') type="image/webp")
                                img( src=image('brands/brand-logo-2.png') alt="Brand 2" width="172px" height="25px" )
                        .swiper-slide
                            picture
                                source(srcset=image('brands/brand-logo-3.webp') type="image/webp")
                                img( src=image('brands/brand-logo-3.png') alt="Brand 3" width="172px" height="101px" )
                        .swiper-slide
                            picture
                                source(srcset=image('brands/brand-logo-4.webp') type="image/webp")
                                img( src=image('brands/brand-logo-4.png') alt="Brand 4" width="172px" height="36px" )
                        .swiper-slide
                            picture
                                source(srcset=image('brands/brand-logo-5.webp') type="image/webp")
                                img( src=image('brands/brand-logo-5.png') alt="Brand 5" width="172px" height="48px" )
                        .swiper-slide
                            picture
                                source(srcset=image('brands/brand-logo-6.webp') type="image/webp")
                                img( src=image('brands/brand-logo-6.png') alt="Brand 6" width="172px" height="23px" )
                        .swiper-slide
                            picture
                                source(srcset=image('brands/brand-logo-4.webp') type="image/webp")
                                img( src=image('brands/brand-logo-4.png') alt="Brand 7" width="172px" height="36px" )
                        .swiper-slide
                            picture
                                source(srcset=image('brands/brand-logo-5.webp') type="image/webp")
                                img( src=image('brands/brand-logo-5.png') alt="Brand 8" width="172px" height="48px" )
                        .swiper-slide
                            picture
                                source(srcset=image('brands/brand-logo-6.webp') type="image/webp")
                                img( src=image('brands/brand-logo-6.png') alt="Brand 9" width="172px" height="23px" )

                    .swiper-pagination.slider-default__slider-pagination
