mixin header(selected = true, nav = true)
    header.header#header
        .header__row.header__row_while
            .container.header__container
                a(href=route("index.html") aria-label="Go to home")
                    svg.header__logo
                        use( xlink:href=sprite('logo-black') )

                | <search @on-search="search" class="header__search"></search>


                .header__icons
                    a(href="#").header__link-ico
                        svg.header__icon
                            use( xlink:href=sprite('compare') )
                        .header__link-number 12

                    a(href="#").header__link-ico
                        svg.header__icon
                            use( xlink:href=sprite('heart') )
                        .header__link-number 3

                    a(href="#").header__link-ico
                        svg.header__icon
                            use( xlink:href=sprite('bag') )
                        .header__link-number 6

                    .header__link-ico.header__link-ico_person
                        .header__person( data-toggle="dropdown" )
                            svg.header__icon
                                use( xlink:href=sprite('person') )

                            svg.header__icon.header__icon_little
                                use( xlink:href=sprite('dropdown-arrow') )

                        .header__submenu.submenu.dropdown-menu
                            .submenu__nav
                                a(href="#" data-toggle="collapse" data-target="#login-modal").submenu__link Вход
                                a(href=route("registration.html")).submenu__link Регистрация

                            .submenu__options
                                .submenu__option-box
                                    .submenu__option-title Валюта:
                                    .submenu__option-content
                                        a(href="#").submenu__option-input.submenu__option-input_selected UAH
                                        a(href="#").submenu__option-input USD

                                .submenu__option-box
                                    .submenu__option-title Язык:
                                    .submenu__option-content
                                        .submenu__option-input_img
                                            svg
                                                use( xlink:href=image('UA.svg#ico') )
                                        .submenu__option-input_img.submenu__option-input_selected
                                            svg
                                                use( xlink:href=image('RU.svg#ico') )


        if nav
            .header__row.header__row_black( :class="{ 'search_focus': focus }" )
                .header-mobile__category( data-toggle="dropdown" )
                    | Каталог
                    svg
                        use( xlink:href=sprite('dropdown-arrow') )

                | <search @on-search="search" @on-focus="onFocus" @on-blur="onBlur" class="header-mobile__search search_mobile-black"></search>

                nav.header__nav.dropdown-menu
                    a(href=route("catalog.html") class={'header__link_selected': selected}).header__link Женщинам
                    a(href=route("catalog.html")).header__link Мужчинам
                    a(href=route("catalog.html")).header__link Детям
                    a(href=route("catalog.html")).header__link Аксессуары
                    a(href=route("catalog.html")).header__link Бренды
                    a(href=route("catalog.html")).header__link Распродажа
